@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 16px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353535;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

.home {
  min-height: 100vh;
  background-image: url(../image/tesla.avif);
  background-position: center;
  background-size: cover;
}
.home .header {
  width: 100%;
  background-color: #fff;
}
.home .back {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .back .logo img {
  width: 140px;
  cursor: pointer;
}
.home .back .nav-center ul {
  display: flex;
  align-items: center;
  gap: 45px;
}
.home .back .nav-center ul li {
  list-style: none;
}
.home .back .nav-center ul li a {
  color: #141414;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 7px;
  border-radius: 3px;
  transition: 0.4s ease;
}
.home .back .nav-center ul li a:hover {
  background-color: #282828;
  color: #fff;
}
.home .back .nav-right ul {
  display: flex;
  gap: 25px;
}
.home .back .nav-right ul li {
  list-style: none;
}
.home .back .nav-right ul li a {
  color: #141414;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 7px;
  border-radius: 3px;
  transition: 0.4s ease;
}
.home .back .nav-right ul li a:hover {
  background-color: #282828;
  color: #fff;
}
.home .back .menu-btn {
  display: none;
}
.home .home-content {
  padding: 200px 0 0 0;
  color: #fff;
  text-align: center;
  align-items: center;
}
.home .home-content h1 {
  font-size: 54px;
  font-weight: 700;
  padding: 0 0 20px 0;
}
.home .home-content p {
  font-size: 16px;
  font-weight: 500;
}

.car-info {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
}
.car-info .info {
  display: flex;
  gap: 25px;
  text-align: center;
  padding: 0 0 20px;
  font-weight: 600;
}
.car-info .info .item1 p {
  padding: 5px 0;
}
.car-info .info .item2 p {
  padding: 5px 0;
}
.car-info .info .item3 p {
  padding: 5px 0;
}
.car-info .btn {
  justify-content: center;
  align-items: center;
}
.car-info .btn button {
  border: 1px solid #141414;
  background-color: #141414;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 7px;
  transition: 0.4s ease;
}
.car-info .btn button:hover {
  background-color: transparent;
  color: #141414;
}
.car-info .img img {
  width: 800px;
}

.tesla-info {
  min-height: 100vh;
  background-color: #0e0e0e;
  color: #fff;
}
.tesla-info .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 230px 0 0 0;
}
.tesla-info .item .history p {
  padding: 0 0 20px;
}
.tesla-info .item .history p span {
  font-weight: bold;
}
.tesla-info .item .history button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 7px;
  transition: 0.4s ease;
}
.tesla-info .item .history button:hover {
  background-color: #fff;
  color: #141414;
}
.tesla-info .item .img-history img {
  width: 800px;
}

.row {
  width: 100%;
}
.row .info-row {
  width: 100%;
  background-color: #0e0e0e;
  color: #ffffff;
  margin: 100px 0;
  border-radius: 16px;
}
.row .info-row .row-page {
  padding: 40px;
}
.row .info-row .row-page h1 {
  padding: 0 0 20px 0;
}
.row .info-row .row-page li {
  padding: 0 0 20px 0;
}
.row .info-row .row-page ul {
  border-bottom: 2px solid #fff;
}
.row .info-row .row-page p {
  padding: 20px 0 0 0;
}

.footer {
  width: 100%;
  min-height: 50vh;
  background-color: #0e0e0e;
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer .footer-info {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-info .footer-page h1 {
  padding: 0 0 70px;
  font-size: 45px;
  font-weight: 700;
}
.footer .footer-info .footer-page p {
  padding: 0 0 20px;
}
.footer .footer-info .footer-email h1 {
  padding: 0 0 70px 0;
}
.footer .footer-info .footer-email p {
  padding: 0 0 25px 0;
}
.footer .footer-info .footer-email .email {
  align-items: center;
  display: flex;
}
.footer .footer-info .footer-email .email button {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 7px;
  transition: 0.4s ease;
}
.footer .footer-info .footer-email .email button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.footer .footer-info .footer-email .email input {
  padding: 9px 7px;
  border: 1px solid #fff;
  background-color: #0e0e0e;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 1317px) {
  .header .back .nav-center ul {
    display: none;
  }
  .car-info {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 70vh;
  }
  .car-info .con {
    padding: 0 0 50px 0;
    text-align: center;
  }
  .car-info .img img {
    width: 550px;
  }
  .tesla-info .item {
    flex-direction: column;
    padding: 180px 0;
  }
  .tesla-info .item .history {
    order: 1;
  }
  .tesla-info .item .history p {
    width: 100%;
  }
  .tesla-info .item .img-history img {
    width: 530px;
  }
  .footer .footer-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 558px) {
  .header .back .nav-right ul {
    display: none;
  }
  .header .back .menu-btn {
    display: flex;
  }
  .header .back .menu-btn a i {
    color: #141414;
    font-size: 35px;
  }
  .car-info {
    padding: 60px 0 0 0;
    min-height: 50vh;
  }
  .car-info .info {
    gap: 15px;
    font-size: 16px;
  }
  .car-info .img img {
    width: 420px;
  }
  .tesla-info .item .img-history img {
    width: 400px;
  }
}
@media screen and (max-width: 455px) {
  .home .home-content h1 {
    font-size: 45px;
  }
  .home .home-content h1 p {
    font-size: 10px;
  }
  .car-info {
    min-height: 50vh;
    align-items: center;
    justify-content: center;
  }
  .car-info .info {
    gap: 14px;
    font-size: 14px;
  }
  .car-info .img img {
    width: 350px;
  }
  .car-info .btn button {
    font-size: 14px;
  }
  .tesla-info .item .img-history img {
    width: 350px;
  }
  .footer .footer-email .email .btn {
    display: flex;
    gap: 5px;
  }
  .footer .footer-email .email .btn button {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */